	.hoverPulse {
		-webkit-animation-duration:0.5s;
		animation-duration:0.5s;
		-webkit-animation-fill-mode:both;
		animation-fill-mode:both;
		-webkit-animation-name:hoverPulse;
		animation-name:hoverPulse;
	}

	@-moz-keyframes hoverPulse {
		0% {
			-webkit-transform:scale3d(1,1,1);
			transform:scale3d(1,1,1);
		}
		50% {
			-webkit-transform:scale3d(1.05,1.05,1.05);
			transform:scale3d(1.05,1.05,1.05);
		}
		100% {
			-webkit-transform:scale3d(1,1,1);
			transform:scale3d(1,1,1);
		}
	}
	
	@-o-keyframes hoverPulse {
		0% {
			-webkit-transform:scale3d(1,1,1);
			transform:scale3d(1,1,1);
		}
		50% {
			-webkit-transform:scale3d(1.05,1.05,1.05);
			transform:scale3d(1.05,1.05,1.05);
		}
		100% {
			-webkit-transform:scale3d(1,1,1);
			transform:scale3d(1,1,1);
		}
	}
	
	@-webkit-keyframes hoverPulse {
		0% {
			-webkit-transform:scale3d(1,1,1);
			transform:scale3d(1,1,1);
		}
		50% {
			-webkit-transform:scale3d(1.05,1.05,1.05);
			transform:scale3d(1.05,1.05,1.05);
		}
		100% {
			-webkit-transform:scale3d(1,1,1);
			transform:scale3d(1,1,1);
		}
	}
	
	@keyframes hoverPulse {
		0% {
			-webkit-transform:scale3d(1,1,1);
			-ms-transform:scale3d(1,1,1);
			transform:scale3d(1,1,1);
		}
		50% {
			-webkit-transform:scale3d(1.05,1.05,1.05);
			-ms-transform:scale3d(1.05,1.05,1.05);
			transform:scale3d(1.05,1.05,1.05);
		}
		100% {
			-webkit-transform:scale3d(1,1,1);
			-ms-transform:scale3d(1,1,1);
			transform:scale3d(1,1,1);
		}
	}
	
	.reset_animation {
		-webkit-transition:all 0.5s ease;
		-moz-transition:all 0.5s ease;
		-o-transition:all 0.5s ease;
		-ms-transition:all 0.5s ease;
		transition:all 0.5s ease;
	}