/*INICIO COMMENTS*/
	.comments-area {
		margin: 30px auto;
		max-width: 100%;
		font-size: 12px;
	}

	.comments-area textarea {
		width: 100%;
	}

	.comment-body  {
		border: 1px solid #ddd;
		background: #f9f9f9;
		padding: 15px;
		margin: 15px 0;
	}

	.comment-reply-title,
	.comments-title {
		font: 700 16px/1.5 sans-serif;
		margin: 0;
		padding: 0;
		text-transform: uppercase;
	}

	.comment-list {
		list-style: none;
		margin: 0 0 30px 0;
		padding-left: 8px;
		border-left: 10px solid #2363AF;
	}

	.comment-author {
		font-size: 14px;
		line-height: 1.7142857142;
	}

	.comment-list .reply,
	.comment-metadata {
		font-size: 10px;
		text-transform: uppercase;
	}

	.comment-reply-link {
		  padding: 10px 10px;
		  color: #fff;
		  display: inline-block;
		  background: #2363AF;
		  border: none;
		  font-size: 10px;
	}

	.comment-author .fn {
		font-weight: 900;
	}

	.comment-list article,
	.comment-list .pingback,
	.comment-list .trackback {
		border-top: 1px solid rgba(0, 0, 0, 0.1);
		margin-bottom: 24px;
		padding-top: 24px;
	}

	.comment-list > li:first-child > article,
	.comment-list > .pingback:first-child,
	.comment-list > .trackback:first-child {
		border-top: 0;
	}

	.comment-author {
		position: relative;
	}

	.comment-author .avatar {
		border: 1px solid rgba(0, 0, 0, 0.1);
		height: 18px;
		padding: 2px;
		position: absolute;
		top: 0;
		left: 0;
		width: 18px;
	}

	.says {
		display: none;
	}

	.comment-author,
	.comment-awaiting-moderation,
	.comment-content,
	.comment-metadata {
		padding-left: 30px;
	}

	.comment-edit-link {
		margin-left: 10px;
	}

	.comment-content {
		-webkit-hyphens: auto;
		-moz-hyphens:    auto;
		-ms-hyphens:     auto;
		hyphens:         auto;
		word-wrap: break-word;
	}

	.comment-content ul,
	.comment-content ol {
		margin: 0 0 24px 22px;
	}

	.comment-content li > ul,
	.comment-content li > ol {
		margin-bottom: 0;
	}

	.comment-content > :last-child {
		margin-bottom: 0;
	}

	.comment-list .children {
		list-style: none;
		margin-left: 15px;
	}

	.comment-respond {
		margin-bottom: 24px;
		padding: 0;
	}

	.comment .comment-respond {
		margin-top: 24px;
	}

	.comment-respond h3 {
		margin-top: 0;
		margin-bottom: 24px;
	}

	.form-allowed-tags {
		display: none;
	}

	.comment-notes,
	.comment-awaiting-moderation,
	.logged-in-as,
	.no-comments,
	.form-allowed-tags,
	.form-allowed-tags code {
		color: #767676;
	}

	.comment-notes,
	.comment-awaiting-moderation,
	.logged-in-as {
		font-size: 14px;
		line-height: 1.7142857142;
	}

	.no-comments {
		font-size: 16px;
		font-weight: 900;
		line-height: 1.5;
		margin-top: 24px;
		text-transform: uppercase;
	}

	.comment-form label {
		display: block;
	}

	.comment-form input[type="text"],
	.comment-form input[type="email"],
	.comment-form input[type="url"] {
		width: 100%;
	}

	.form-allowed-tags,
	.form-allowed-tags code {
		font-size: 12px;
		line-height: 1.5;
	}

	.required {
		color: #c0392b;
	}

	.comment-reply-title small a {
		color: #2b2b2b;
		float: none;
		overflow: hidden;
		font-size: 12px;
		display: block;
		clear: both;
	}

	.comment-navigation {
		font-size: 12px;
		line-height: 2;
		margin-bottom: 48px;
		text-transform: uppercase;
	}

	.comment-navigation .nav-next,
	.comment-navigation .nav-previous {
		display: inline-block;
	}

	.comment-navigation .nav-previous a {
		margin-right: 10px;
	}

	#comment-nav-above {
		margin: 15px 0;
	}


	.comments-area .comment-respond { }


	.comments-area input[type="url"],
	.comments-area input[type="email"],
	.comments-area input[type="text"] {
		padding: 8px 3px;
	}

	.comment-respond #commentform #submit{
	      float: right;
		  border-radius: 0;
		  text-transform: uppercase;
		  width: 185px;
		  color: #fff;
		  font-weight: 500;
		  font-size: 14px;
		  background: #2363AF;
		  padding: 13px 10px !important;
		  margin: 10px 0;
		  border: none;
		  clear: both;
	}


/*FIM COMMENTS*/