/*FONTES*/
	@font-face {
	    font-family: 'ormontlight';
	    src: url('../fonts/ormont_light-webfont.eot');
	    src: url('../fonts/ormont_light-webfont.eot?#iefix') format('embedded-opentype'),
	         url('../fonts/ormont_light-webfont.woff2') format('woff2'),
	         url('../fonts/ormont_light-webfont.woff') format('woff'),
	         url('../fonts/ormont_light-webfont.ttf') format('truetype'),
	         url('../fonts/ormont_light-webfont.svg#ormontlight') format('svg');
	    	 font-weight: normal;
	    	 font-style: normal;

	}
	
	@font-face {
	  font-family: 'Univers-Condensed-Medium';
	  src: url('../fonts/Univers-Condensed-Medium.eot');
	  src: url('../fonts/Univers-Condensed-Medium.eot?#iefix') format('embedded-opentype'),
	       url('../fonts/Univers-Condensed-Medium.woff2') format('woff2'),
	       url('../fonts/Univers-Condensed-Medium.woff') format('woff'),
	       url('../fonts/Univers-Condensed-Medium.ttf') format('truetype'),
	       url('../fonts/Univers-Condensed-Medium.svg#Univers-Condensed-Medium') format('svg');
	  font-weight: normal;
	  font-style: normal;
	}
	
	
	@font-face {
	  font-family: 'Univers-MediumItalic';
	  src: url('../fonts/Univers-MediumItalic.eot');
	  src: url('../fonts/Univers-MediumItalic.eot?#iefix') format('embedded-opentype'),
	       url('../fonts/Univers-MediumItalic.woff2') format('woff2'),
	       url('../fonts/Univers-MediumItalic.woff') format('woff'),
	       url('../fonts/Univers-MediumItalic.ttf') format('truetype'),
	       url('../fonts/Univers-MediumItalic.svg#Univers-MediumItalic') format('svg');
	  font-weight: normal;
	  font-style: normal;
	}
	
	@font-face {
	  font-family: 'Univers-Medium';
	  src: url('../fonts/Univers-Medium.eot');
	  src: url('../fonts/Univers-Medium.eot?#iefix') format('embedded-opentype'),
	       url('../fonts/Univers-Medium.woff2') format('woff2'),
	       url('../fonts/Univers-Medium.woff') format('woff'),
	       url('../fonts/Univers-Medium.ttf') format('truetype'),
	       url('../fonts/Univers-Medium.svg#Univers-Medium') format('svg');
	  font-weight: normal;
	  font-style: normal;
	}
	
	@font-face {
	  font-family: 'Univers-Condensed-BoldItalic';
	  src: url('../fonts/Univers-Condensed-BoldItalic.eot');
	  src: url('../fonts/Univers-Condensed-BoldItalic.eot?#iefix') format('embedded-opentype'),
	       url('../fonts/Univers-Condensed-BoldItalic.woff2') format('woff2'),
	       url('../fonts/Univers-Condensed-BoldItalic.woff') format('woff'),
	       url('../fonts/Univers-Condensed-BoldItalic.ttf') format('truetype'),
	       url('../fonts/Univers-Condensed-BoldItalic.svg#Univers-Condensed-BoldItalic') format('svg');
	  font-weight: normal;
	  font-style: normal;
	}
	
	@font-face {
	  font-family: 'Univers-Condensed-Bold';
	  src: url('../fonts/Univers-Condensed-Bold.eot');
	  src: url('../fonts/Univers-Condensed-Bold.eot?#iefix') format('embedded-opentype'),
	       url('../fonts/Univers-Condensed-Bold.woff2') format('woff2'),
	       url('../fonts/Univers-Condensed-Bold.woff') format('woff'),
	       url('../fonts/Univers-Condensed-Bold.ttf') format('truetype'),
	       url('../fonts/Univers-Condensed-Bold.svg#Univers-Condensed-Bold') format('svg');
	  font-weight: normal;
	  font-style: normal;
	}
	
	@font-face {
	  font-family: 'Univers-BoldItalic';
	  src: url('../fonts/Univers-BoldItalic.eot');
	  src: url('../fonts/Univers-BoldItalic.eot?#iefix') format('embedded-opentype'),
	       url('../fonts/Univers-BoldItalic.woff2') format('woff2'),
	       url('../fonts/Univers-BoldItalic.woff') format('woff'),
	       url('../fonts/Univers-BoldItalic.ttf') format('truetype'),
	       url('../fonts/Univers-BoldItalic.svg#Univers-BoldItalic') format('svg');
	  font-weight: normal;
	  font-style: normal;
	}
	
	
	
	@font-face {
	  font-family: 'Univers-Bold';
	  src: url('../fonts/Univers-Bold.eot');
	  src: url('../fonts/Univers-Bold.eot?#iefix') format('embedded-opentype'),
	       url('../fonts/Univers-Bold.woff2') format('woff2'),
	       url('../fonts/Univers-Bold.woff') format('woff'),
	       url('../fonts/Univers-Bold.ttf') format('truetype'),
	       url('../fonts/Univers-Bold.svg#Univers-Bold') format('svg');
	  font-weight: normal;
	  font-style: normal;
	}
	
