@charset "utf-8";
/* CSS Document */

@media(min-width:1200px){
	.container-oferecemos li:nth-child(5n+1){
		padding-left: 0px !important;
	}
}


@media(min-width:991px){

	.menu_3,
	.menu_6,
	.menu_9 {
		  padding-left: 64px !important;
	}


	.content-3 .slide figcaption h3 {
		max-height: 160px;
		word-wrap:break-word;
	}

	.cont-blog > figure > a {
		max-width: 262px;
	}

	#header nav .menu li:last-child {
		margin-right: 0 !important;
	}

	.header-search {
		padding-bottom: 20px;
	}

	.category-blog {
		padding: 0;
    	margin: 10px 0 10px 0;
	}

	.category-blog figure {
		max-width: 262px;
		margin: 0 auto;
	}

	.single-servicos .conteudo article {
		padding-right: 42px;
  		padding-left: 42px;
	}

	.content-servico .container-serv-conteudo {
		padding-left: 5px;
	    padding-right: 5px;
	}

	.cat-estado-page-franquia {
		padding-right: 53px;
	}

	.container-fluid {
		padding-right: 0;
		padding-left: 0;
	}

	.col-md-8,
	.col-md-3,
	.container-menu,
	.col-md-12,
	.row {
		margin-right: 0;
		margin-left: 0;
		padding-right: 0;
		padding-left: 0;
	}

	.inner_content .container,
	#header .inner_header .col-md-12 {
		padding-left: 0;
		padding-right: 0;
	}

	#logo {
		float: left;
	}

	#header nav .menu {
		float: left;
		padding-left: 0;
		display: -webkit-flex;
		display: flex;
		background-color: transparent;
	}

	#header nav .menu  li{
		-webkit-flex:1 1 auto;
		flex:1 1 auto;
	}

	#header nav .menu ul li:last-child {
		margin-right: 0px;
	}

	#header nav .menu  li a {}

	.slicknav_menu {
		display: none;
	}

	.content-3 {
		padding-left: 0;
	  	padding-right: 0;
	}

	.content-3 .banner {
		padding-right: 0;
		padding-left: 0;
	}

	.content-5 .container-depoimentos {
	    padding-right: 0;
	}

	.content-5 .container-depoimentos article {
	}

	.content-5 .container-depoimentos .bx-wrapper {
		float: right;
	}

	.container {
		padding-right: 0;
		padding-left: 0;
	}

	.quote {
		padding-left: 0;
	}

	.content-1-franquias {
		background-position:  0  120px;
	}

	.content-1-franquias .conteudo-bem-vindo {
		padding-right: 43px;
	  	padding-left: 43px;
	}

}

@media(min-width:768px){


	.container-oferecemos li {
		margin-bottom: 15px;
	}

	.container-oferecemos li .slide figcaption{
		max-width: 190px;
		width: 100%;
		margin: 0 auto;
	}

	.container-oferecemos li:first-child .slide figcaption {
		max-width: 200px;
		width: 100%;
	}

	.container-oferecemos li:first-child {
		padding-left: 0px !important;
	}


	.ul-unidades li.active a {
		line-height: 18px;
	}


	.cat-estado-page-franquia:last-child{
		padding-right: 0;
	}



	.cat-estado-page-franquia a {
	  	font-size: 25px;
	  	padding: 11px 25px !important;
	}

	.content-7 .row .cont-blog:first-child {
	    padding-left: 0!important;
	    text-align: left;
	}

	.footer-top .box-endereco address span {
		margin-left: 58px;
	}

	.footer-top .box-sociais {
		padding-left: 40px;
	}

	.footer-top .box-telefone {
	    padding-left: 40px;
	}

	.footer-top .box-endereco address {
		text-align: left;
	}

	.content-6 .col-md-4 li {
		padding-left: 5px;
	}
}

@media(min-width:768px) and (max-width:1200px){
	.container-form .c-bairro,
	.container-form .c-cidade,
	.container-form .c-estado-user {
		width: 100% !important;
	}
}

@media(min-width:768px) and (max-width:991px){
	.container.content-6 .col-md-4 h3 {
		text-indent: 0;
		font-size: 16px;
	}

	.container.content-6 .col-md-4 li a {
		font-size: 15px;
	}

	.content-1-franquias {
		background-position: 0 90px;
	}

	.banner-na-midia .bx-wrapper{
		max-width: 100% !important;
	}

}


@media(min-width:991px) and (max-width:1200px){
	.container-oferecemos li:nth-child(5n+1){
		padding-left: 0px !important;
	}

	/*.container-oferecemos li {
	  padding-left: 6% !important;
	}*/

	/*btn seja um franqueado*/
	/*.seja-um-franqueado {
		margin-left: 45% !important;
	}*/
}


/*RESPONSIVIDADE PARA BTN SEJA UM FRANQUEADO*/
/*@media(min-width:1200px) and (max-width:1525px){
	.seja-um-franqueado {
		margin : 39px 0 0 0px !important;
	}

}

@media (min-width: 1526px){
	.seja-um-franqueado{
		margin: 0 0 0 0 !important;
		width: 220px !important;
		height: 220px !important;
	}
}*/

@media(min-width:768px) and (max-width:991px){

	.container-oferecemos li:nth-child(4n+1) {
	  padding-left: 0px !important;
	}

	/*.container-oferecemos li {
	  padding-left: 7% !important;
	}*/

}

@media(min-width:480px) and (max-width:768px){


	/*.container-oferecemos li {
	  padding-left: 6% !important;
	}*/
}

@media(max-width:991px){

	.category-blog figure img {
		width: 100%;
		height: auto;
	}

	.cat-estado-page-franquia {
		padding-right: 10px;
	}

	#logo {
		padding: 15px 0 5px 0 !important;
	}

	#logo img {
		padding: 0px 30px;
	}

	#logo h1 {
		margin-top: 0;
	}

	.content2-home img {
		width: 100% !important;
	}

	.container-circle .block-txt-circle p {
		text-align: center;
	}

	.content-2-contato,
	.content-1-contato {
		padding-right: 15px !important;
		padding-left: 15px !important;
	}

	.footer-top .box-endereco address span {
		margin-left: 0;
	}

	.container-content-tab-intern {
		margin-top: 15px;
	}

	/*Guilherme P.*/
	#topo-header {
		display: -webkit-flex;
		display: -moz-flex;		
		display: -ms-flex;
		display: -o-flex;
		display: flex;
	}

	.sebrae {
    	width: 50% !important;
    	margin: 5px auto !important;
	}

}

@media(max-width:768px){

	.slider-midia figcaption p {
		text-align: justify;
	}

	.sidebar {
		border-top: 3px solid #89D3CD;
		margin-top: 35px;
		padding-top: 20px;
	}

	.sidebar #search-2 .search-field {
		width: 100%;
	}

	.sidebar #search-2 label {
		width: 90%;
	}

	.category-blog.last,
	.category-blog {
		float: none;
		margin: 0 auto !important;
	}

	.container-list-servicos ul {
		margin: 0 auto;
		width: 80%;
	}

	.cat-estado-page-franquia {
		padding-right: 15px;
	}

	.content-4 .form-control { }

	.content-4 .sub-container-form {
		width: 100% !important;
	}

	.content-4 .container-form {}

	.content-4 .page-title4 {
		font-size: 5vw;
	}

	.container.content-6 .col-md-4 h3 {
		text-align: center;
	}

	.footer-top {
		text-align: center;
	}

	.footer-top ul {
		width: 100%;
	}

	.footer-top li {
		float: none !important;
		display: inline-block;
	}

	.content-6 .col-md-4 li a {
		text-align: center;
	}

	.content-1-quem-somos .container article {
		padding-right: 5px !important;
  		padding-left: 5px !important;
	}

	.content-1-franquias{
		padding-bottom: 47% !important;
		background-position: -260px 110px;
	}

	/*Centralizar label de telefone no responsivo*/
	.footer-top .box-endereco label {
			text-decoration: center;
			text-indent: 0px !important;
	}

	/* Remove Breadcrumb no responsivo na pagina do blog.*/
	div[name="blog"] #breadcrumbs {
		display: none !important;
	}



}


@media(min-width:200px) and (max-width:768px){
	.content-7 .row .cont-blog figure {
		margin: 0 auto;
	}

	/*ALINHAMENTO DO BOTÃO SEJA UM FRANQUEADO NA VISÃO MOBILE*/
	.box-telefone a > img {
	  margin: auto;
	}

	.content-7 .cont-blog:first-child {
		padding-left: 15px !important;
	}

	.content-7 .row .cont-blog {
		margin-top: 50px;
		padding-right: 15px !important;
		padding-left: 15px !important;
	}



	.content-7 .row .cont-blog figure,
	.content-7 .row .cont-blog figcaption {
		max-width: 450px !important;
		float: none !important;
	}
}

@media(max-width:480px){
	.content-3 .slide figcaption {
		max-width: 300px;
		width: 100%;
	}

	.search-form-search label {
		width: 80%;
	}

	.sidebar #search-2 .search-field {
		width: 100%;
	}

	.sidebar #search-2 label {
		width: 80%;
	}

	.container-list-servicos figure a {
		margin: 0 auto;
	}

	.container-list-servicos figure  figcaption {
		margin: 0 auto;
	}

	.container-oferecemos li:nth-child(3n+1) {
	  padding-left: 0px !important;
	}

	.container-oferecemos li {
	  padding-left: 0 !important;
	  width: 100%;
	  clear: both;
	  text-align: center;
	}

	.cat-estado-page-franquia.active a {
		margin: 0;
	}

	.cat-estado-page-franquia {
		padding:0;
		width: 100%;
		text-align: center;
	}

	.page-title3{
		font-size: 7vw !important;
	}

	.content-4 .container-form {
		padding-right: 10px !important;
  		padding-left: 10px !important;
	}

	.content-5 .page-title4,
	.content-3 .page-title4,
	.content-4 .page-title4 {
		font-size: 8vw !important;
	}

	.c-enviar .btn {
		width: 100% !important;
		margin: 15px 0 !important;
	}

	.content-5 .field-slider h4 {

	}

	.content-5 .field-slider h4,
	.content-5 .field-slider p {
		padding-right: 0 !important;
	}



}


