.no-paddin{
    padding:0;
}
.servicos-home .img{
    min-height: 670px;
    position: relative;
}
.servicos-home .text{
    position: absolute;
    min-height: 670px;
    top: 120px;
    max-width: 60%;
    padding: 10px 30px;
}

.servicos-home .first .text{
    right: 0;
}
.servicos-home .last .text{
    left: 0;
}
.servicos-home .text p{
    min-height: 430px;
}

.servicos-home .green-button p {
    border: 1px solid #fff;
    min-height: 54px;
}
.servicos-home .pink-button p {
    border: 1px solid #fff;
    min-height: 54px;
}

.servicos-home .first img{
    position: absolute;
    top: 0;
    right: 180px;
    max-width: 18%;
}
.servicos-home .last img{
    position: absolute;
    top: 0;
    left: 180px;
    max-width: 18%;
}
.servicos-home .first{
    background: url('/wp-content/themes/unius/img/LZ.jpg') no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

}
.servicos-home .last{
    background: url('/wp-content/themes/unius/img/LH-home.jpg') no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

}

@media(max-width: 1340px){
    .servicos-home .text{
        min-height: 800px;
    }
    .servicos-home .text p{
        min-height: 550px;
    }
    .servicos-home .green-button p {
        border: 1px solid #fff;
        min-height: 54px;
    }
    .servicos-home .pink-button p {
        border: 1px solid #fff;
        min-height: 54px;
    }
    .servicos-home .img{
        min-height: 810px;
    }
}

@media(max-width: 1199px){
    .servicos-home .text p{
        min-height: 300px;
    }
    .servicos-home .green-button p {
        border: 1px solid #fff;
        min-height: 54px;
    }
    .servicos-home .pink-button p {
        border: 1px solid #fff;
        min-height: 54px;
    }
    .servicos-home .text{
        position: inherit;
        margin: 0 auto;
        min-height: inherit;
    }
    .servicos-home .last img,
    .servicos-home .first img{
        left: auto;
        right: 41%;
    }

}
@media(max-width: 640px){
    .servicos-home .img{
        min-height: 590px;
    }
    .servicos-home .green-button p {
        border: 1px solid #fff;
        min-height: 54px;
    }
    .servicos-home .pink-button p {
        border: 1px solid #fff;
        min-height: 54px;
    }
    .servicos-home .last .text,
    .servicos-home .first .text{
        max-width: 100%;
    }
    .servicos-home .last img{
        left: 32%;
        max-width: 30%;
    }
    .servicos-home .first img{
        right: 32%;
        max-width: 30%;

    }
}
@media(max-width: 450px){
    .servicos-home .img{
        min-height: 640px;
    }
    .servicos-home .green-button p {
        border: 1px solid #fff;
        min-height: 54px;
    }
    .servicos-home .pink-button p {
        border: 1px solid #fff;
        min-height: 54px;
    }
    .servicos-home .last .text,
    .servicos-home .first .text{
        max-width: 100%;
        min-height: 640px;
    }
}
@media(max-width: 320px){
    .servicos-home .img{
        min-height: 750px;
    }
    .servicos-home .green-button p {
        border: 1px solid #fff;
        min-height: 54px;
    }
    .servicos-home .pink-button p {
        border: 1px solid #fff;
        min-height: 54px;
    }
    .servicos-home .last img{
        left: 32%;
        max-width: 36%;
    }
    .servicos-home .first img{
        right: 32%;
        max-width: 36%;

    }
}