/*
	Linha 2017 alterado do style.css
	Linha 271 do mobile.css alterada
*/
/*IMPORTANDO FONTS*/
	@import "css/font.css";
	@import "css/animation.css";


/*SIDEBAR*/

::selection {color: #fff  !important; background: #6BC7C1 !important;}
/*ELEMENTOS GERAIS*/
	p {
		font-size: 18px !important;
		line-height: 22px  !important;
		margin: 0 ;
	}

	html,
	body {
		font-family: Univers-Medium;
		font-size: 18px;
	}

	img {
		border: none;
	}

	span.wpcf7-form-control-wrap {
		position: inherit;
	}

	a:hover {
		text-decoration: none;
	}

	::-webkit-input-placeholder { /* WebKit browsers */
	color: #2364B0;
	}
	:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
	color: #2364B0;
	}
	::-moz-placeholder { /* Mozilla Firefox 19+ */
	color: #2364B0;
	}
	:-ms-input-placeholder { /* Internet Explorer 10+ */
	color: #2364B0;
	}

	.article-header {
		display: none;
	}

	#breadcrumbs {
		padding-right: 0;
		padding-left: 0;
	}

	#breadcrumbs span span,
	#breadcrumbs span span a{
    font-family: Univers-Medium !important;
    font-size: 12px !important;
	}



	.title-page {
		text-align: center;
		font-size: 2em;
		font-family: ormontlight;
		font-weight: bold;
		padding-bottom: 26px;
		margin-top: 0;
	}

/*INICIO HEADER*/

	.seja-um-franqueado {
	  z-index: 1000;
	  background-color: #2364B0 !important;
	  color: #fff !important;
	  font-family: ormontlight;
	  position: relative;
	  margin-left: 0 !important;
	  /*right: 53%;
	  top: 230px;*/
	  width: 200px ;
	  height: 200px ;
	}

	.seja-um-franqueado h2 {
		display: block;
		padding: 55px 0 0 0;
		font-weight: bold;
		font-size: 24px;
	}

	.seja-um-franqueado span {
		position: relative;
		display: block;
		border-bottom: 4px solid #fff;
		width: 100px;
		padding: 2px;
		margin: 10px auto;
	}

	.seja-um-franqueado a {
		line-height: 1;
		color: #fff;
	}

	/* NEW TITLE AND BUTTONS*/
	.new-title h2{
		color: #fff;
		font-size: 45px;
		padding-left: 30px;
		font-family: ormontlight;
		font-weight: 600;
		text-shadow: 1px 2px 4px rgba(0,0,0, 0.5);
		text-align: center;
	}

	.new-title span{
		color: #fff;
		font-weight: 700;

	}

	.sub-new-title p{
		font-family: 'Raleway', sans-serif;
		font-weight: 600;
		color: #ffffff;
		font-size: 25px !important;
		line-height: 30px !important;
		margin: 35px 35px 0;
		//width: 60%;
		text-shadow: 1px 2px 4px rgba(0,0,0, 0.5);
		text-align: center;
	}

	/*INNER HEADER*/

		.active {
			background: #6BC7C1;
		}

		.active a {
			color: #fff !important;
		}

		#colophon,
		.site-main,
		.content-area,
		.site-content {
			float: left;
			width: 100%;
			overflow: hidden;
		}


		.container{
			max-width: 1000px;
			/*overflow: hidden;*/
		}

		.inner_content .container {}

		.inner_content {
			float: left;
			width: 100%;
		}

		.inner_header {
			//background: rgba(255,255,255,0.8);
			background-color: #fff;
			position: relative;
			border-bottom: 11px solid #6BC7C1;
			/*overflow: hidden;*/
			max-height: 145px;
			z-index: 99999999;
		}

		#header {
			float: left;
			width: 100%;
			position: relative;
		}

		#logo {
			padding: 15px 0 17px 0;
			max-width: 175px;
			margin-left: 35px;
		}

		#logo img {
			width: 100%;
		}

		.container-logo {
			margin-top: 20px;
		}

		.image-fundo {
			position: absolute;
			width: 100%;
		}

		.image-fundo img {
			width: 100%;
			min-height: 375px;
		}


		/*Guilherme P.*/
		.sebrae img {
			width: 75%;
		    position: relative;
		    display: block;
		    margin: auto;
		}
		.sebrae {
			width: 15%;
			margin: 20px auto;
		}
		.container-menu nav,
		.sebrae {
			float: left !important;
		}

	/*INNER HEADER MENU*/

		#header nav {
			float: right;
		}

		#header nav .menu li a {
			height: 135px;
			line-height: 195px;
			text-align: center;
			color: #6BC7C1;
			font-family: Univers-Medium;
			text-transform: capitalize;
			font-size: 19px;
			font-weight: 500;
		}

		#header nav .menu li a.active {
			background: #6BC7C1;
			color: #fff;

		}

	/*INNER HEADER BREADCRUMBS*/

		#breadcrumbs {
			background: none;
			margin: 40px 0 55px 0;
			font-size: 15px !Important;
		}

		#breadcrumbs span span,
		#breadcrumbs span span a {
			font-family: ormontlight;
			font-weight: 500;
			text-transform: uppercase;
			color: #2F2F2F;
			display: inline-block;
		}

		#breadcrumbs span span:first-child {
			margin-right: 25px;
		}

		#breadcrumbs span span:last-child {
			margin-left: 18px;
		}






/*FIM HEADER*/

/*INICIO CONTENT*/

		.block-home {
			width: 100%;
			min-height: 150px;
		}


		.block-home .page-title3 {
			font-size: 2em;
			padding: 40px 0 25px 0;
			color: #2363AF;
			text-align: center;
			font-family: ormontlight;
			font-weight: bold;
		}

		.page-subtitle {
			width: 9%;
			margin: 0 auto;
			border-bottom: 5px solid #2363AF;
		}


		.block-circle {
			width: 189px;
			height: 189px;
			border-radius: 100%;
			margin: 10px auto;
		}

		.container-circle {
		    margin: 50px 0;
		    float: left;
		    width: 100%;
		}

		.sub-container-index {
			position: relative;
			background: #EFEFEF;
		}

		.circle-3,
		.circle-2,
		.circle-1 {
			background: #6BC7C1;
			text-align: center;
			line-height: 189px;
		}


		.block-txt-circle {
			width: 100%;
			padding: 7px 32px;
		}

		.block-txt-circle h3 {
			font-size: 23.55px;
			color: #3D76B8;
			font-weight: bold;
			text-align: center;
			text-transform: uppercase;
			font-family: 'Univers-Bold';
		}

		.ul-unidades h4 {
			margin: 0;
		}

		.block-txt-circle p {
			text-align: justify;
			font-size: 18px;
			color: #636363;
			font-family: 'Univers-Medium';
		}

		.container-faixa-azul {
			width: 100%;
			margin: 0;
			background: #6BC7C1;
		}

		.content2-home {
			text-align: center;
		}

		.content2-home .sub-text {
			color: #636363;
		}


		.page-title-2-home {
			font-size: 2em;
			font-family: ormontlight;
			padding: 40px 0 36px 0;
			text-align: center;
			color: #3C75B7;
			font-weight: 600;
		}


		.content2-home p {
			text-align: center;
			font-size: 19.62px;
			line-height: 15px;
			font-family: 'Univers-Medium';

		}

		.content2-home img {
			width: auto;
			text-align: center;
			margin: 0 auto;
			margin-top: 40px;
		}

		/*FORMULARIO ORÇAMENTO*/
		/*MODIFICADO NO DIA 29/07/2015 Guilherme.*/
		.use-floating-validation-tip span.wpcf7-not-valid-tip, #container-form .use-floating-validation-tip span.wpcf7-not-valid-tip {
    position: relative !important;
    top: -70px !important;
    left: 0 !important;
		}
		#formulario .use-floating-validation-tip span.wpcf7-not-valid-tip,
		#contato .use-floating-validation-tip span.wpcf7-not-valid-tip {
				position: relative !important;
				top: -70px !important;
				left:0 !important;
			}

	.franchise-center .use-floating-validation-tip span.wpcf7-not-valid-tip {
			position: relative !important;
			top: -70px !important;
			left:0 !important;
		}

		#formulario .sub-container-form {
			height: 75px !important;
		}

			#formulario div.wpcf7-mail-sent-ok{
				margin-top: -5px !important;
			}

			#formulario .c-nome, .c-telefone{
					float: left !important;
			}

			#formulario .c-email, .c-celular {
				float: right !important;
			}

			/*MODIFICADO DIA 30/07/2015 Guilherme.*/
			.label-breve p{
				text-align: center;
		    color: #fff;
		    margin-bottom: 30px;
		    font-size: 20px !important;
		    font-weight: 700;
			}
			.service-list ul {
				padding: 0;
				margin: 0;
			}
		/*FIM FORMULARIO ORÇAMENTO*/

	/*CONTENT PARCEIRO*/
	.parceiro{
		border:10px solid #6bc7c1;
		border-left:none;
		border-right: none;
	}

	.parceiro-logo{
		text-align: center;
		top: 50%;
	}

	/*CONTENT 3*/

		.content-3 {
			/*background: url('img/efetuando-limpeza.jpg') center no-repeat;
			background-size: cover;*/
			background-color: #efefef;
		}

@media only screen and (max-width: 959px) {


}



		.content-3 .row-fluid {}

		.content-3 .field-text{
			padding-bottom: 30px;
			text-align: center;
		}

		.content-3 .page-title4 {
			font-size: 2em;
			text-transform: uppercase;
			font-family: ormontlight;
			text-align: center;
			color: #2363AF;
			padding: 40px 0 28px 0;
			font-weight: bold;
		}

		.content-3 .page-subtitle {
			margin-bottom: 55px;
		}

		/*CARROSSEL SLIDER CONTENT 3*/
			.content-3 .banner {
				padding-bottom: 80px;
			}

			.content-3 .bx-wrapper {
				max-width: 1000px !important;
				margin: 0 auto;
			}

			.content-3 .bx-wrapper .bx-viewport {
				text-align: center;
				line-height: 140px;
			}

			.content-3 .bx-wrapper .bx-pager-item {
				float: right;

			}

			.content-3 .bx-wrapper .bx-pager-item a {
				width: 21px;
				height: 21px;
				float: left;
				line-height: 20px;
				margin: 6px;
				display: block;
				background: #2363AF;
				border-radius: 100%;
				text-align: center;
			}

			.content-3 .bx-wrapper .bx-pager-item a.active {
				background: #6BC7C1;
			}

			.content-3 .bx-controls-direction {
				display: none;
			}

			.content-3 .bx-pager {
				margin-right: 10px;
				margin-top: 30px;
			}

			.content-3 .bx-wrapper img {

			}

			.content-3 .slide a {
				width: 141px;
				height: 141px;
				border-radius: 100%;
				overflow: hidden;
				background: #fff;
				margin: 5px auto 0 auto;

			}

			.content-3 .slide a:hover {
				border: 3px solid #6BC7C1;
				-webkit-animation-duration:0.5s;
				animation-duration:0.5s;
				-webkit-animation-fill-mode:both;
				animation-fill-mode:both;
				-webkit-animation-name:hoverPulse;
				animation-name:hoverPulse;
			}

			.content-3 .slide figcaption h3 {
				font-size: 18px;
				text-align: center;
				text-transform: uppercase;
				color: #2363AF;
				padding-top: 8px;
				font-family: Univers-Medium;
				width: 190px;


			}

		/*CONTENT 4*/
			.content-4 {
				background: #6BC7C1;
			}

			.content-4 .page-title4 {
				font-size: 2em;
				padding: 40px 0 25px 0;
				color: #2363AF;
				text-align: center;
				text-transform: uppercase;
				font-family: ormontlight;
				font-weight: bold;
			}

			.content-4 .page-subtitle {
				width: 9%;
				margin: 0 auto 55px auto;
				border-bottom: 5px solid #2363AF;
			}



			.content-4 .p-txt {
				text-align: justify;
				font-size: 19.62px;
				color: #F8F8F8;
				font-family: Univers-Medium;

			}

			.content-4 .container-form {
				float: left;
				width: 100%;
				padding-right: 48px;
  				padding-left: 48px;
			}

			.content-4 .sub-container-form {
				float: left;
				width: 49%;
			}

			.content-4 .sub-container-form:nth-child(2n+1) {
				float: right;
			}


			.content-1-contato .form-control,
			.content-4 .form-control {
				margin-bottom: 30px;
				height: 40px;
				border: none;
				border-radius: 0;
				opacity: 0.7;
				text-transform: uppercase;
				color: #6BC7C1;
			}

			.c-bairro,
			.c-cidade,
			.c-estado-user {
			    width: 281px !important;
			    float: left !important;
			    padding-right: 0px;
			}

			.c-cidade {
				margin-right: 30px;
				margin-left: 30px;
			}


			.c-estado-user {
				margin-right: 0 !important;
			}

			.c-pergunta {
				width: 100% !important;
			}

			.c-enviar {

			}

			.c-bairro:last-child, .c-estado-user:last-child {
			    margin-right: 0px !important;
			    padding-right: 0px;
			}

			.c-enviar .btn {
				float: right;
				border-radius: 0;
				text-transform: uppercase;
				width: 185px;
				color: #fff;
				font-weight: 500;
				font-size: 30px;
				background: #2363AF;
				padding: 0 !important;
				margin: 10px;
				clear: both;
			}

			.block-form-cont-4 {
				margin-top: 60px;
				padding-bottom: 30px;
			}

			/*div.wpcf7-validation-errors {
				display: none !important;
			}*/

		/*CONTENT 5*/

			.content-5 {
				background: #EFEFEF;
			}

			.content-5 .page-title4 {
				font-size: 2em;
				padding: 40px 0 27px 0;
				color: #2363AF;
				text-align: center;
				text-transform: uppercase;
				font-weight: bold;
				font-family: ormontlight;
			}

			.content-5 .page-subtitle {
				width: 9%;
				margin: 0 auto 60px auto;
				border-bottom: 5px solid #2363AF;
			}

			.content-5 .container-depoimentos {}

			.content-5 .container-depoimentos article {
				font-size: 25px;
			}

			.content-5 .col-md-2 .fa {
				float: left;
			    font-size: 120px;
			    color: #2364b0;
			}

			.content-5 .bx-pager {
				display: none;
			}

			.content-5 .bx-controls-direction {
				float: right;
			}

			.content-8 .bx-controls-direction a,
			.content-5 .bx-controls-direction a {
				float: left;
  				margin: 10px 0px 10px 0px;
  				color: #6BC8C1;
  				font-size: 20px;
			}

			.content-5 .field-slider h4,
			.content-5 .field-slider p {
				padding-right: 50px;
				text-align: justify;
				font-family: Univers-Medium;
			}

			.content-5 .field-slider p {
				color: #4C4C4C;
				font-size: 18px;
			}


			.content-5 .field-slider h4 {
				float: right;
				font-size: 20px;
			}

			.content-8 .bx-next:before,
			.content-5 .bx-next:before {
				  content: "\e258";
				  position: relative;
				  top: 1px;
				  display: inline-block;
				  font-family: 'Glyphicons Halflings';
				  font-style: normal;
				  font-weight: normal;
				  line-height: 1;
				  -webkit-font-smoothing: antialiased;
				  -moz-osx-font-smoothing: grayscale;
			}

			.content-8 .bx-prev:before,
			.content-5 .bx-prev:before {
				  content: "\e257";
				  position: relative;
				  top: 1px;
				  display: inline-block;
				  font-family: 'Glyphicons Halflings';
				  font-style: normal;
				  font-weight: normal;
				  line-height: 1;
				  -webkit-font-smoothing: antialiased;
				  -moz-osx-font-smoothing: grayscale;
			}


		/*CONTENT 6*/

			.unidades_home {
				padding-bottom: 50px;
			}

			.unidades_home ul {
				padding-left: 25px;

			}

			.content-6 .page-title4 {
				font-family: ormontlight;
				font-size: 2em;
				padding: 40px 0 27px 0;
				color: #2363AF;
				text-align: center;
				text-transform: uppercase;
				font-weight: bold;
			}

			.content-6 .page-subtitle {
				width: 9%;
				margin: 0 auto 60px auto;
				border-bottom: 5px solid #2363AF;
			}


			.content-6 .col-md-4 h3 {
				color: #6B6A6A;
			    font-size: 25px;
			    text-transform: uppercase;
			    text-align: left;
			    text-indent: 27px;
			    font-family: Univers-Medium;
			    margin-top: 0;
			}

			.content-6 .col-md-4 li a {
				font-size: 16px;
				text-transform: uppercase;
				color: #2363AF;
				font-family: Univers-Medium;
			}

			.content-6 .col-md-4 li {
				text-align: left;
			}

			.content-6 .col-md-4 {
				text-align: center;
			}


		/*CONTENT 7*/

			.content-7 {
				background: #EFEFEF;
				padding-bottom: 80px;
			}

			.content-7 .page-title4 {
				font-size: 2em;
				padding: 40px 0 27px 0;
				color: #6BC7C1;
				text-align: center;
				font-weight: bold;
				text-transform: uppercase;
				font-family: ormontlight;
			}

			.content-7 .page-subtitle {
				width: 9%;
				margin: 0 auto 61px auto;
				border-bottom: 4px solid #6BC7C1;
			}

			.content-7 .row .cont-blog {
				text-align: center;
				float: left;
			}

			.category-blog > figure > a,
			.cont-blog > figure > a {
				background: #000;
				overflow: hidden;
				position: relative;
			}

			.category-blog > figure > a .glyphicon,
			.cont-blog > figure > a .glyphicon {
				position: absolute;
				top: 50%;
				left: 50%;
				font-size: 60px;
				color: #fff;
				opacity: 0;
				z-index: 99999;
				-webkit-transition:all 0.5s ease;
				-moz-transition:all 0.5s ease;
				-o-transition:all 0.5s ease;
				-ms-transition:all 0.5s ease;
				transition:all 0.5s ease;
			}

			.category-blog > figure > a > img,
			.cont-blog > figure > a > img {
				-webkit-transition:all 0.5s ease;
				-moz-transition:all 0.5s ease;
				-o-transition:all 0.5s ease;
				-ms-transition:all 0.5s ease;
				transition:all 0.5s ease;
			}

			.category-blog > figure > a:hover > .glyphicon,
			.cont-blog > figure > a:hover > .glyphicon {
				opacity: 0.8;
			}

			.category-blog > figure > a:hover > img,
			.cont-blog > figure > a:hover > img {
				opacity: 0.6;
				-webkit-transform: scale(1.5) rotate(20deg);;
				-moz-transform: scale(1.5) rotate(20deg);;
				-o-transform: scale(1.5) rotate(20deg);;
				-ms-transform: scale(1.5) rotate(20deg);;
				transform: scale(1.5) rotate(20deg);;


			}

			.content-7 .row .cont-blog:last-child {
				padding-right: 0;
				text-align: right;
			}

			.content-7 .row .cont-blog figure,
			.content-7 .row .cont-blog figcaption {
				max-width: 262px;
			}

			.container-category-blog figure h3,
			.content-7 .row .cont-blog h3 {
				text-align: justify;
				font-size: 20px;
				color: #2F2F2F;
				font-weight: bold;
				font-family: Univers-Medium;
				height: 66px;
			}

			.container-category-blog figure p,
			.content-7 .row .cont-blog p {
				text-align: justify;
				color: #636363;
				font-size: 20.83px;
				font-family: Univers-Medium;
				height: 110px;
				max-width: 100%;
				max-height: 110px;
    			overflow: hidden;
			}

			.single-servicos p, .content-2-contato p{
				color: #636363;
			}



			.content-7 .row .cont-blog:nth-child(2)  figure,
			.content-7 .row .cont-blog:nth-child(2) figcaption {
				margin: 0 auto !important;
				float: none !important;
			}

			.content-7 .row .cont-blog:last-child  figure,
			.content-7 .row .cont-blog:last-child  figcaption {
				float: right;
			}

			.content-7 .row .cont-blog img {
				width: 100%;
			}

		/*CONTENT 8*/

			.content-8 {
				padding-top: 68px;
				margin-bottom: 51px;
			}

			.content-8 .title-page {
				color: #2363AF;
			}

			.content-8 .page-subtitle {
				margin-bottom: 56px;
			}

			.content-8 .bx-wrapper {
				margin: 0 auto;
			}

			.slider-midia {
				opacity: 0.7;
			}

			.slider-midia:hover {
				opacity: 1;
			}

			.slider-midia img {
				width: 100%;
				height: auto;
			}

			.banner-na-midia {}

			.article-midia-home {
				font-size: 19.5px;
  				text-align: center;
				padding-bottom: 50px;
				color: #636363;
				font-family: Univers-Medium;
			}

			.slider-midia figcaption p {
				margin-top: 28px;
				margin-top: 28px;
			    font-size: 18px;
			    color: #676767;
			    font-family: Univers-Medium;
			}

			.mes-midia {
				width: 100%;
			  	float: left;
			  	font-size: 17px;
			  	color: #676767;
			  	text-transform: capitalize;
			  	font-family: Univers-Medium;
			}

			.title-midia {
				width: 100%;
  				float: left;
  				font-size: 17px;
  				color: #005799;
  				font-family: Univers-Medium;
			}

			.banner-na-midia .bx-controls {
				max-width: 1000px;
  				margin: 0 auto;
			}

			.banner-na-midia .bx-pager {
				float: right;
			}

			.banner-na-midia .bx-pager-item {
				float: left;
  				padding-right: 10px;
  				display: none;
			}

			.banner-na-midia .bx-controls-direction {
				float: right;
			}

			.banner-na-midia .bx-pager-item:last-child {
				padding-right: 0;
			}

			.banner-na-midia .bx-pager-link {}

			.banner-na-midia .bx-pager-link.active {}


		/*CONTENT 9*/
			.content-9{
				background-color: #6bc7c1;
			}
			.content-9 .page-title4{
				font-size: 2em;
				text-transform: uppercase;
				font-family: ormontlight;
				text-align: center;
				color: #2363AF;
				padding: 40px 0 28px 0;
				font-weight: bold;
			}

			.form-newsletter input[type="submit"]{
				background-color: #2364b0;
				border: none;
				float: left;
				width: 27%;
				height: 56px;
				color: #fff;
				font-family: 'Univers-Medium';
				font-size: 15px;
				text-transform: uppercase;
				font-weight: bold;
				border: 1px solid #fff;
				margin-top: 15px;
				margin-bottom: 35px;
			}

			.form-newsletter input[type="email"] {
				padding: 16px 18px;
				float: left;
				width: 70%;
				color: gray;
				font-family: 'open_sansregular';
				font-size: 16px;
				margin-right: 5px;
				margin-top: 15px;
				margin-bottom: 35px;

		    }

			::-webkit-input-placeholder {
				color: darkgray;
				font: 20px verdana, arial, sans-serif;
			}

			:-moz-placeholder {
				color: darkgray;
				font: 20px verdana, arial, sans-serif;
			}

/*FIM CONTENT*/


/*INICIO QUEM SOMOS*/

	.content-1-quem-somos .row.container-unidade-limpeza-zelo {
		padding: 20px 0 ;
	}
	.content-1-quem-somos {
		background: #6BC7C1;
		/*padding: 20px 0 150px 0;*/
		padding: 0px 0 150px 0;
		position: relative;
		z-index: 1;
		background: url("img/background-1.jpg");
		background-repeat: no-repeat;
	}

	.ontainer-unidade-limpeza-zelo{
		background-color: rgba(107, 199, 193, 0.5);
	}

    .content-1-limpeza-hora{
		background: url("img/background-2.jpg");
	}

	.limpeza-hora-box{
		float:left;
	}

	.limpeza-hora-box h3{
		font-size: 18px;
		width: 100%;
		margin-left: 0;
		text-align: left;
		font-size: 30px;
		text-transform: uppercase;
		color: #2363AF;
		text-align: center;
	}
	
	
	.title-qum-somos {
		color: #fff;
		padding-bottom: 25px;
		text-transform: uppercase;
	}

	.subtitle-quem-somos {
		border-width: 5px;
		width: 12%;
		margin-bottom: 57px;
	}

	.content-1-quem-somos .container article {
		padding-right: 46px;
		padding-left: 46px;
	}

	.content-1-quem-somos p {
		color: #303030;
		font-size: 25px;
		text-align: justify;
	}

	.part-vantagens-quem-somos {
		position: relative;
		z-index: 9;
		margin-top: -60px;
	}

	.part-vantagens-quem-somos .sub-container-index {
		position: relative;
		z-index: 9;
  		margin-top: 0 !important;
	}

	.part-depoimentos-quem-somos {
		margin-top: -59px;
	}

	.part-depoimentos-quem-somos .field-slider p {
		color: #fff;
	}

	.part-depoimentos-quem-somos .content-5 {
		background: #2363AF;
		color: #fff;
		padding-top: 70px;
  		box-sizing: border-box;
  	}

  	.part-depoimentos-quem-somos .content-5 .page-subtitle {
  		display: none;
  	}

	.part-depoimentos-quem-somos .content-5 .page-title4 {
		color: #fff !important;
		padding-bottom: 42px;
	}

/*FIM QUEM SOMOS*/


/*INICIO SERVIÇOS*/

	.servicos .content-5 .page-title4 {
		color: #fff;
		padding-bottom: 42px;
	}

	.servicos .content-5 {
		background: #2363AF;
		color: #fff;
	}

	.servicos .content-5 .page-subtitle {
		display: none;
	}

	.servicos .content-5 p {
		color: #fff;
	}

	.content-servico {}

	.content-servico .title-serv {
		color: #2363AF;
		font-weight: bold;
	}

	.content-servico .sub-title-serv {
		border:none;
	}

	.content-servico .container-serv-conteudo {
		margin: 0 auto;
	    float: none;
	    padding-bottom: 84px;
	    text-align: justify;
	    font-size: 25px;
	    color: #303030;
	}

	.container-oferecemos {
		padding: 60px 0;
	}

	.container-oferecemos figure {}

	.container-oferecemos ul {
		list-style: none;
		padding-left: 0;
	}

	.container-oferecemos li {
                vertical-align: top;
		display: inline-block;
		padding-left: 0;
		vertical-align: top;
		width: 100%;
		max-width: 193px;
	}



	.container-oferecemos li a {
		text-align: center;
		line-height: 141px;
	}

/*FIM SERVIÇOS*/

/*INICIO SINGLE SERVIÇOS*/
	.single-servicos {}

	.single-servicos .thumbnail-2 {
		margin-top: 50px;
	}

	.single-servicos .conteudo {
		font-size: 25px;
		text-align: justify;
	}

	.single-servicos .thumbnail-2 img {
		width: 100%;
		height: auto;
	}

	.single-servicos .page-title3 {
		text-transform: uppercase;
		padding: 0 0 26px 0 !important;
		margin-top: 5px;
	}

	.single-servicos .sub-title-franquias {
		margin-bottom: 57px;
	}

/*INICIO CONTATO*/

	/*CONTENT 1*/
		.content-1-contato {
			background: #6BC7C1;
			padding: 50px 0 40px 0;
		}

		.content-1-contato .form-control {
			display: inline-block;
		}

		.container-fluid.content-1-contato .c-bairro {
			margin-right: 0 !important;
		}

		.content-1-contato textarea {
			height: 82px !important;
		}

		.content-1-contato .c-cep,
		.content-1-contato .c-bairro {
			width: 49% !important;
		}

		.content-1-contato .c-cep {
			float: right;
		}

	/*CONTENT 2*/
		.content-2-contato {
			padding-bottom: 65px;
		}

		.content-2-contato .conteudo {
			text-align: justify;
			font-size: 25px;
			color: #303030;
			line-height: 35px;
		}

		img.form-control {
			width: auto;
		}

		.content-1-contato .c-captcha-img img {
			margin: 18px auto 0 auto;
		}



		.content-1-contato .c-captcha-img,
		.content-1-contato .c-captcha-txt .form-control {
			height: 70px;
		}

		.content-1-contato .c-captcha-img {
			background-color: #fff;
  			opacity: 0.8;
		}

		.content-1-contato .c-captcha-txt {

		}

		.content-2-contato .page-title4 {
			color: #6BC7C1;
			font-weight: bold;
			/*font-size: 2.6vw !important;*/
			font-size: 2em !important;
			margin: 0;
			padding-bottom: 32px;
			text-transform: uppercase;
		}

		.content-2-contato .page-subtitle {
			width: 9%;
			border-width: 5px;
			margin-bottom: 56px;
		}

/*FIM CONTATO*/


/*INICIO FRANQUIA*/

	.content-1-franquias {
		background-image: url('img/fundo-franquias.jpg');
		background-repeat: no-repeat;
		background-size: cover;
		padding-bottom: 22%;
	}

	.content-header-tabs-franquias {
		border-bottom: 6px solid #fff;
		padding-bottom: 0;
	}

	/*TABS VERTICAL FRANQUIAS*/

	  .saiba-mais-unidade {
	  	text-align: center;
	  	width: 159px;
	  	height: 40px;
	  	line-height: 39px;
	  	text-transform: uppercase;
	  	font-size: 22.5px;
	  	background: #6BC7C1;
	  	color: #fff;
	  	font-weight: bold;
	  }

	  .cat-estado-page-franquia {
	  	text-transform: uppercase;
	  }

	  .container-mais {
	  	float: right;
	  	margin-top: 33px;
	  }

	  .ul-unidades li.active a {
	  	padding-bottom: 0;
	  	color: #2364B0 !important;
	  }

	  .ul-unidades li {
	  	float: none;
	  	display: block;
	  }

	  .container-content-tab-intern {
	  	background: #2364B0;
  		padding: 21px;
  		float: left;
	  }

	  .container-content-tab-intern p {
	  	color: #fff;
	  	font-size: 22.92px;
	  	float: left;
	  }

	  .conteudo-tab-unidade {
	  	padding: 0;
	  }

	  .conteudo-links-tab-unidade {
	  	padding: 0;
	  }

	  .conteudo-links-tab-unidade .nav li a{
	  	border-bottom: none !important;
	  	color: #fff;
	  	font-size: 20px;
	  	text-transform: uppercase;
	  	padding-bottom: 0px;
	  }

	  .conteudo-links-tab-unidade .nav li.active {
	  	border-bottom: 4px solid #2364B0 !important;

	  }

	  .conteudo-links-tab-unidade .nav-tabs {
	  	border-bottom: none;
	  }

	  .conteudo-links-tab-unidade .nav a {
	  	background-color: transparent !important;
  		border: none !important;
  	  }


	  .title-bem-vindo {
	  	color: #2364B0;
	  }

	  .title-franquias {
	  	color: #fff;
	  	margin-top: 46px;
	  	padding-bottom: 28px;
	  	font-size: 2em;
	  }

	  .sub-title-franquias {
	  	  width: 9%;
	  	  margin-bottom: 61px;
	  	  border-width: 5px;
	  }

	  .title-franqueado {
	  	color: #2364B0 !important;
	  	font-weight: bold;
	  	padding-bottom: 28px !important;
	  }

	  .content-1-franquias .conteudo-bem-vindo {
	  	font-size: 25px;
	  	color: #636363;
	  	text-align: justify;
	  }

	  .cat-estado-page-franquia a {
	  	font-size: 25px;
	  	color: #fff;
	  	border: none !important;
	  	border-radius: 0 !important;
	  }

	  .cat-estado-page-franquia a:active {
	  	color: #fff;
	  }

	  .cat-estado-page-franquia a:hover {
	  	background: #2364B0 !important;
	  }

	  .cat-estado-page-franquia.active a:hover {
	  	background: #fff !important;
	  }

	  .cat-estado-page-franquia.active a{
	  	color: #6BC7C1 !important;
	  }

	  .content-tabs-franquias {
	  	padding-top: 36px;
	  	padding-bottom: 99px !important;
	  }

	  .conteudo-seja-franqueado {
	  	text-align: center;
	  	font-size: 18px;
	  	color: #303030;
	  	padding-bottom: 75px;
	  }

	  .seja-franqueado-img img {
	  	width: 100%;
	  }

/*FIM FRANQUIA*/






/*INICIO BLOG*/

	/*CATEGORY*/

		.sub-title-blog {
			border-bottom-color: #2363AF !important;
  			margin-bottom: 37px !Important;
		}

		.title-blog {
			color: #2363AF !important;
			margin-top: 0;
  			padding-top: 0 !important;
		}

		.more-blog {
			text-align: right;
			color: #6BC7C1;
			font-size: 20.17px;

		}

		.list-post {
			background: #ddd;
			padding: 40px 0;
		}

		.container-blog {}

		.category-blog.last {
			margin-right: 0;
		}

		.container-category-blog {
			padding: 0 0 17px 0;
			background: #fff;
		}

		.container-category-blog:nth-child(2n+1) {
			background: #fff !important;
		}

		.category-blog figure a {}

		.category-blog figure img {}


	/*SINGLE*/
		.title-single {}

		.title-single h1 {
			text-align: center;
			text-transform: uppercase;
			font-weight: bold;
			color: #2363AF;
			padding-bottom: 27px;
		}

		.thumbnail-single img {
			width: 100%;
			height: auto;
		}

		.thumbnail-single figure {
			margin-bottom: 50px;
		}

		.conteudo-single {
			font-size: 18px;
			color: #636363;
			color: #636363;
			text-align: justify;
			margin-bottom: 55px;
		}

		.conteudo-single a {
    		display: inline;
		}

		.title-single .sub-title-serv {
			border-width: 5px;
			width: 9%;
			margin-bottom: 59px;
		}

		.container-single .author {
			font-size: 20px;
		    color: #6BC7C1;
		    font-weight: 400;
		    margin-bottom: 40px;
		    float: left;
		  	width: 100%;
		}

		.container-single .author strong {
			color: #2363AF;
		}


		.container-single .social {
			padding-left: 0;
			float: left;
		  	width: 100%;
		}

		.container-single .social li {
			display: inline-block;
			color: #2363AF;
			font-size: 18px;
			padding-right: 5px;
			float: left;
  			line-height: 18px;
		}

		.container-single .compartihar {
			color: #6BC7C1;
		    font-size: 20px;
		    padding-right: 22px;
		}

		.container-post-relacionados {
			margin-top: 39px;
		}




	/*SIDEBAR*/


		.sidebar {
			float: right;
		}

		.sidebar .screen-reader-text {
			display: none;
		}

		.sidebar aside {
			-webkit-transition:all 0.5s ease;
			-moz-transition:all 0.5s ease;
			-o-transition:all 0.5s ease;
			-ms-transition:all 0.5s ease;
			transition:all 0.5s ease;
			overflow: hidden;
		}

		.sidebar .ui-accordion .ui-accordion-header .ui-accordion-header-icon {
			  right: .5em !important;
			  left: auto;

		}

		.sidebar .widget-area h2 {
			background: #89D3CD;
			font-size: 20px;
			color: #2363AF;
			padding: 0px 0 0px 15px;
			text-transform: uppercase;
			font-weight: 600;
			font-family: ormontlight;
			cursor: pointer;
			height: 40px;
			border: none;
  			border-radius: 0;
  			line-height: 41px;
		}

		.sidebar .widget-area h2 a {
			color: #2363AF;
		}

		.sidebar .widget {
			border: none;
			padding: 0;
		}

		.sidebar .search-field {
			border: 1px solid #89D3CD;
			padding: 6px 13px 5px 5px;
			float: left;
		}

		.sidebar .search-submit {
			width: 41px;
		    float: right;
		    height: 39px;
		    border: 1px solid #89D3CD;

		    background: url('img/bg/search.png') #89D3CD center no-repeat;
		}

		.sidebar #search-2 label {
			max-width: 83%;
			float: left;
		}

		.sidebar .widget-area h2:first-child {
			display: none;
		}

		.sidebar .widget_search {
			display: block !important;
			height: 62px !important;
			overflow: hidden;
		}

		.sidebar a {
			color: #89D3CD;
		}

		.sidebar #categories-2 {}

		.sidebar #categories-2 ul {
			padding-left: 9px;
		}

		.sidebar #categories-2 li {}

		.sidebar #categories-2 li a {}



		.sidebar #tag_cloud-2 {}

		.sidebar #archives-2 {}



		.sidebar #archives-2 ul {
			padding-left: 9px;
		}

		.sidebar #archives-2 ul li a {
			text-transform: capitalize;
			font-family: 'Univers-Medium';
		  color: #89d3cd !important;
		  padding: 10px 0 0 0;
		}

		.sidebar #archives-2 ul li a::before {
			content: "• ";
			color: #2364b0 !important;
			padding: 0 30px 0 0;
		}

		.sidebar #tag_cloud-2 .tagcloud {}

		.sidebar #tag_cloud-2 .tagcloud a {
			padding: 4px;
			float:left;
			font-family: 'Univers-Medium';
			background-color: #89d3cd;
			color: #fff;
			font-size: 12px !important;
			margin: 0 2px 3px 0;

		}

		#ui-id-3 {
		  margin: 10px 0 10px 0;
		}


/*FIM BLOG*/


/*INICIO PAGINAÇÃO*/

	.pagination {
		width: 100%;
	}

	.pagination .wp_pagination {
		text-align: center;
		line-height: 26px;
	}

	.pagination a {}

	.pagination .page-numbers {
		padding-right: 10px;
		display: inline;
		color: #2363AF;
	}

	.pagination .page-numbers.current {
		background: #2363AF;
		color: #fff;
		width: 25px;
		height: 25px;
		padding: 0;
	}

	.label-msg {
		text-align: center;
	}

	.label-404 {
		text-align: center;
	}

/*FIM PAGINAÇÃO*/

/*INICIO SEARCH*/

	.list-search:nth-child(3n+1) {
		clear: left;
	}

	.list-search:nth-child(3n+1) figure {
		float: left;
	}

	.list-search.last figure {
		float: right;
	}


	.label-search {
		padding-left: 2px;
	}

	.label-search h2 {
		font-size: 25px;
  		text-transform: uppercase;
  		color: #2364B0;
  		font-family: ormontlight;
  		font-weight: bold;
	}

	.label-search h2 span {
		font-size: 20px;
  		text-transform: none;
  		color: #89D3CD;
	}


	.search-form-search {
		padding-top: 12px;
		float: right;
  		padding-right: 0;
	}

	.header-search {
		margin-bottom: 30px;
	  	border-bottom: 1px solid #2364B0;
	}

	.search-form-search .search-field {
		border: none;
		border-bottom: 2px solid #2364B0;
		background-color: #EFEFEF;
		font-family: ormontlight;
		font-weight: bold;
	}

	.search-form-search .search-submit {
		width: 40px;
  		height: 32px;
  		border: none;
  		background-color: none;
  		background: url('img/bg/search-search.png') no-repeat center;
  	}

	.label_search {
		padding-right: 15px;
		color: #2364B0 !important;
		text-transform: uppercase;
		font-family: ormontlight;
		font-weight: bold;
		line-height: 50px;
	}

	.search-form-search label {
		float: right;
		font-size: 20px;
		color: #89D3CD;
		margin: 0;
	}

	.search-form-search label .screen-reader-text {
		display: none;
	}
	.comment-list > li:first-child > article,
	.comment-list > .pingback:first-child,
	.comment-list > .trackback:first-child {
		border-top: 1px solid #ddd !important;
	}


/*FIM SEARCH*/

/*INICIO 404*/


	.container-404 {
		border-bottom: 1px solid #ddd;
		padding-bottom: 30px;
		margin-bottom: 25px;
	}

	.container-form-search-404 {}

	.container-form-search-404 .search-field {
	  padding: 10px;
	  width: 100%;
	  border: 1px solid #89D3CD;
	}

	.container-form-search-404 label {
		width: 90%;
		float: left;
	}

	.container-form-search-404 .search-submit {
		width: 40px;
		height: 42px;
		float: left;
		border: 1px solid #6BC7C1;
		background: url('img/bg/search.png') #6BC7C1 no-repeat center;
	}

	.label-404 {
		text-transform: uppercase;
		color: #2363AF;
	}

	.label-msg {
		text-transform: uppercase;
		color: #2363AF;
	}


	.form-search-404 {
	  width: 50%;
	  margin: 30px auto;
	  text-align: center;
	}

/*FIM 404*/

/*INICIO COMMENTS*/
	.comments-area {
		margin: 30px auto;
		max-width: 100%;
		font-size: 12px;
	}

	.comments-area textarea {
		width: 100%;
	}

	.comment-body  {
		border: 1px solid #ddd;
		background: #f9f9f9;
		padding: 15px;
		margin: 15px 0;
	}

	.comment-reply-title,
	.comments-title {
		font: 700 16px/1.5 sans-serif;
		margin: 0;
		padding: 0;
		text-transform: uppercase;
	}

	.comment-list {
		list-style: none;
		margin: 0 0 30px 0;
		padding-left: 8px;
		border-left: 10px solid #2363AF;
	}

	.comment-author {
		font-size: 14px;
		line-height: 1.7142857142;
	}

	.comment-list .reply,
	.comment-metadata {
		font-size: 10px;
		text-transform: uppercase;
	}

	.comment-reply-link {
		  padding: 10px 10px;
		  color: #fff;
		  display: inline-block;
		  background: #2363AF;
		  border: none;
		  font-size: 10px;
	}

	.comment-author .fn {
		font-weight: 900;
	}

	.comment-list article,
	.comment-list .pingback,
	.comment-list .trackback {
		border-top: 1px solid rgba(0, 0, 0, 0.1);
		margin-bottom: 24px;
		padding-top: 24px;
	}

	.comment-list > li:first-child > article,
	.comment-list > .pingback:first-child,
	.comment-list > .trackback:first-child {
		border-top: 0;
	}

	.comment-author {
		position: relative;
	}

	.comment-author .avatar {
		border: 1px solid rgba(0, 0, 0, 0.1);
		height: 18px;
		padding: 2px;
		position: absolute;
		top: 0;
		left: 0;
		width: 18px;
	}

	.says {
		display: none;
	}

	.comment-author,
	.comment-awaiting-moderation,
	.comment-content,
	.comment-metadata {
		padding-left: 30px;
	}

	.comment-edit-link {
		margin-left: 10px;
	}

	.comment-content {
		-webkit-hyphens: auto;
		-moz-hyphens:    auto;
		-ms-hyphens:     auto;
		hyphens:         auto;
		word-wrap: break-word;
	}

	.comment-content ul,
	.comment-content ol {
		margin: 0 0 24px 22px;
	}

	.comment-content li > ul,
	.comment-content li > ol {
		margin-bottom: 0;
	}

	.comment-content > :last-child {
		margin-bottom: 0;
	}

	.comment-list .children {
		list-style: none;
		margin-left: 15px;
	}

	.comment-respond {
		margin-bottom: 24px;
		padding: 0;
	}

	.comment .comment-respond {
		margin-top: 24px;
	}

	.comment-respond h3 {
		margin-top: 0;
		margin-bottom: 24px;
	}

	.form-allowed-tags {
		display: none;
	}

	.comment-notes,
	.comment-awaiting-moderation,
	.logged-in-as,
	.no-comments,
	.form-allowed-tags,
	.form-allowed-tags code {
		color: #767676;
	}

	.comment-notes,
	.comment-awaiting-moderation,
	.logged-in-as {
		font-size: 14px;
		line-height: 1.7142857142;
	}

	.no-comments {
		font-size: 16px;
		font-weight: 900;
		line-height: 1.5;
		margin-top: 24px;
		text-transform: uppercase;
	}

	.comment-form label {
		display: block;
	}

	.comment-form input[type="text"],
	.comment-form input[type="email"],
	.comment-form input[type="url"] {
		width: 100%;
	}

	.form-allowed-tags,
	.form-allowed-tags code {
		font-size: 12px;
		line-height: 1.5;
	}

	.required {
		color: #c0392b;
	}

	.comment-reply-title small a {
		color: #2b2b2b;
		float: none;
		overflow: hidden;
		font-size: 12px;
		display: block;
		clear: both;
	}

	.comment-navigation {
		font-size: 12px;
		line-height: 2;
		margin-bottom: 48px;
		text-transform: uppercase;
	}

	.comment-navigation .nav-next,
	.comment-navigation .nav-previous {
		display: inline-block;
	}

	.comment-navigation .nav-previous a {
		margin-right: 10px;
	}

	#comment-nav-above {
		margin: 15px 0;
	}


	.comments-area .comment-respond { }


	.comments-area input[type="url"],
	.comments-area input[type="email"],
	.comments-area input[type="text"] {
		padding: 8px 3px;
	}

	.comment-respond #commentform #submit{
	      float: right;
		  border-radius: 0;
		  text-transform: uppercase;
		  width: 185px;
		  color: #fff;
		  font-weight: 500;
		  font-size: 14px;
		  background: #2363AF;
		  padding: 13px 10px !important;
		  margin: 10px 0;
		  border: none;
		  clear: both;
	}


/*FIM COMMENTS*/


/*INICIO FOOTER*/

	/*FOOTER TOP*/

		.btn-footer-to-top #top_header {
			opacity: 0;
			-webkit-transition:all 0.5s ease-in;
			-moz-transition:all 0.5s ease-in;
			-ms-transition:all 0.5s ease-in;
			-o-transition:all 0.5s ease-in;
			transition:all 0.5s ease-in;
		}

		.btn-footer-to-top {
			position: fixed;
			bottom: 50px;
			right: 15px;
		}

		.btn-footer-to-top .fa {
			font-size: 60px;
			color: #6BC7C1;
		}

		.footer-top {
			padding-top: 30px;
		}

		.footer-top label {
			font-size: 22.92px;
			color: #06377B;
			width: 100%;
			clear: both;
			display: block;
			/*margin-bottom: 20px;*/
			margin-bottom: 4px;
			font-family: Univers-Medium;
			font-weight: 100;
		}

		.footer-top ul {
			float: left;
  			padding-left: 0;
		}

		.footer-top ul li:first-child {
			margin-left: 0;
		}

		.footer-top li {
		   float: left;
		   margin: 0px 10px 10px 10px;
		   font-size: 35px;
		   color: #2363AF;

		}

		.footer-top .box-endereco label {
			/*text-align: center;*/
			text-indent: 55px;
			font-family: Univers-Medium;
		}

		.box-endereco {

		}






		.footer-top .box-endereco span {
			/*font-size: 18.75px;*/
			font-size: 16px;
			font-family: Univers-Medium;
		}

		.box-telefone a {
			font-size: 18.75px;
			color: #2F2F2F;
			font-family: Univers-Medium;
		}

		.part-bem-vindo-quem-somos .page-title-2-home {
			  padding: 0 0 40px 0;
		}


	/*FOOTER BOTTOM*/
		.footer-bottom {
			background: #6BC7C1;
			text-align: right;
			padding: 5px 5px;
		}

		.footer-bottom span {
			float: right;
			font-size: 16.67px;
			color: #2363AF;
		}

		.footer-bottom a {
			float: right;
			margin-left: 5px;
		}

		.container-mais-left {
			float: left;
		}

		.container-mais-left .saiba-mais-unidade {
			width: 225px;
		}


		.box-sociais > a{
			color: #333;
			line-height: 36px;
			font-size: 16px;
		}

		.box-sociais label:first-child {
  		margin: 0;
		}

		.box-sociais > a:last-of-type {
			margin-bottom: 15px;
		}

		.box-sociais label:last-of-type {
		  margin: 0;
		}


/*FIM FOOTER*/

.ui-accordion .ui-accordion-content {
	padding: 0 !important;
	overflow: hidden;
}

.ui-accordion .ui-accordion-content input[type="search"] {
	width: 209px;
}

.c-endereco.c-captcha-img {
	background: #fff;
	height: 70px;
	opacity: 0.8;
}

.c-endereco.c-captcha-img img {
	margin-top: 13px;
}

.c-cep.c-captcha-txt .form-control{
	height: 70px !important;
}

.row_menu_footer {
	margin-bottom: 50px;
}

.row_menu_footer a {
  font-size: 22.92px;
  color: #06377B;
  width: 100%;
  clear: both;
  display: block;
  font-family: Univers-Medium;
  font-weight: 100;
}


/*Botão quer ser um franqueado*/
.btn-franqueado {
	padding: 5px;
	background-color: #2363AF;
	text-align: center;
	color: #fff;
	text-transform: uppercase;
	margin-top: 36px;
}


.btn-franqueado:hover{
	color: #fff;
	text-decoration: none !important;
}
.btn-franqueado:active{
	color: #fff;
	text-decoration: none !important;
}
.btn-franqueado:focus{
	color: #fff;
	text-decoration: none !important;
}


/* Unidades - 25/08/2015 - Guilherme */
  .container-unidades-left {
    text-align: left;
  }

  .container-unidades-right {
    text-align: right;
  }

  .container-unidades-right .container-li li{
    padding-right: 30px;

  }

  .container-cat {
    width: 100%;
  }

  .container-cat h4 {
    width: 100%;
    margin-left: 0;
    text-align: left;
    font-size: 36px;
    text-transform: uppercase;
    border-bottom: 4px solid #2363AF;
    color: #2363AF;
  }

  .container-cat ul {
    padding: 0;
  }

  .container-cat  ul li a{
    padding-left: 35px;
  }

  .container-cat ul li:hover {
    border-bottom: 4px solid #2363AF;

  }

    .container-cat ul li a{
      color:  #fff;
      text-transform: uppercase;
    }

  .container-cat ul li:hover a{
    color:  #2363AF;
  }

  .container-li li:last-of-type {
    margin-bottom: 40px
  }

  .content-header-tabs-franquias{
    /*height: 940px;*/
  }


  .container-unidades-right {
    float: right;
    padding-right: 0 !important;
  }

  .container-unidades-left {
    float: left;
    padding-left: 0 !important;
  }

  .container-unidades-left .container-li{
    text-align: left;
    width: 100%;
    float: right;
  }

  .container-unidades-left .container-li li a {
    font-size: 18px;
    text-transform: uppercase;
    font-weight: normal;
    color: #fff;
    font-family: Univers-Medium;
}

  .container-unidades-right  .container-cat{
    float: right;
  }

  .container-unidades-left  .container-cat{
    float: left;
  }

/* Fim Unidades */

/*Widget Sidebar*/
aside .ui-widget-content a {
	font-size: 16px;
}
/*Fim widget Sidebar*/

/*CSS Trabalhe conosco*/


.field-full {
	width: 49% !important;
	margin-right: 20px !important;
}

.field-medium {
	width: 23.6% !important;
}

.r-right {
	margin-right:0 !important;
}

.trabalhe-conosco .c-mensagem {
	width:100%;
}

.trabalhe-conosco {
	background: #6bc8c1;
}

.trabalhe-conosco.content-4 .container-form {
	padding-left:0;
	padding-right:0;
}

.trabalhe-conosco .c-mensagem .mensagem {
	height:85px;
}

.container-ultimo {
	float:left;
}

.container-ante-penultimo {
	margin-top:25px;
	float:left;
}

.trabalhe-conosco.content-4 .form-control {
	opacity:1;
}

.content-4.title-trabalhe-conosco {
	background:none;
}

.content-trabalhe-conosco-enviar {
	float: left;
    width: 100%
}

.title-block .title-3 {
	font-family: ormontlight;
	color: #ffffff;
	font-size: 2vw;
	font-weight: bold;
	text-align: left;
	transform: scaleY(1.0107); /* propriedades de largura e altura omitidas devido a transformação */
	text-transform: uppercase;
}

.content-4.title-trabalhe-conosco .page-title4{
	color:#6bc8c1;
}

.title-pergunta-experiencia {
	font-family: Univers-Medium;
	color: #ffffff;
	font-size: 22.92px; /* Aproximação devido à substituição de fonte */
	font-weight: 500;
	text-align: left;
	transform: scaleY(1.0002); /* propriedades de largura e altura omitidas devido a transformação */
}


.pergunta-experiencia {
	color: #ffffff;
	font-size: 22.92px; /* Aproximação devido à substituição de fonte */
	font-weight: 500;
	transform: scaleY(1.0002); /* propriedades de largura e altura omitidas devido a transformação */
	margin: 15px 0 20px 0;
}


.submit-false {}

.submit-false .input-curriculo {
	/* opacity: 0; */
	height: 40px;
	float: right;
	width: 100%;
}

.input-false {
	float: left;
    height: 35px;
    background-color: #fff;
    width: 100%;
    text-align: left;
    text-indent: 147px;
    line-height: 35px;
    font-size:15px;
}

.label-text {
	display: block;
    text-align: right;
    position: absolute;
    right: 0;
    color: #ffffff;
	font-size: 15.97px; /* Aproximação devido à substituição de fonte */
	font-weight: 600;
	text-align: center;
	transform: scaleX(1.0041); /* propriedades de largura e altura omitidas devido a transformação */
	width: 50%;
	background: #2264B0;
}

span.curriculo {
	right:0;
	width: 48%;
	z-index: 999999;
    position: absolute;
    opacity: 0;
}


.container-form.captcha {
	margin-top:30px;
}

.content-trabalhe-conosco-enviar input{
	padding: 7px;
    background-color: #2363AF;
    text-align: center;
    color: #fff;
    text-transform: uppercase;
    margin-top: 36px;
    border: none;
    width: 100%;
    font-size:15px;
}

iframe{
	display: none;
}


/**/

body{
	margin-top: -26px !important;
}



/* NEW Vantages Area */

.top-menu{
	min-height: 40px;
	background-color: #6BC7C1;
	margin-top: 25px;
}

.advantages{
	background-color: #6BC8C1;
}

.advantages-inside{
	background-color: #fff;
	margin-top: -30px;
}

/*.social-icons i {
	padding: 5px 10px;
	display: inline-block;
	-moz-border-radius: 100px;
	-webkit-border-radius: 100px;
	border-radius: 100px;
	background-color: #2364b0;
	color: #6BC7C1;
	margin: 10px;
}*/

.social-icons .fa-facebook, .social-icons .fa-twitter, .social-icons .fa-google-plus, .social-icons .fa-youtube-play{
	/*color: #6BC7C1;*/
	color: #2364b0;
}

.social-icons .fa-circle {
	color: #2364b0;
}

.orcar-servico-limpeza{
	border: 1px solid #fff;
	margin-top:20px;
	/*margin: auto;*/
	/*margin-left: 15px;*/
	max-width: 100%;
	padding: 0 20px;
	margin-top: 15px;
}

.orcar-servico-limpeza li{
	color: #fff;
	text-align: right;
	padding-right: 10px;
	padding-top: 25px;
	font-size: 17px;
	font-weight: 600;
}

.orcar-servico-hora{
	border: 1px solid #fff;
	margin-top:20px;
	padding: 0 20px;
	/*margin: auto;*/
	/*margin-left: 15px;*/
	max-width: 100%;
	margin-top: 15px;
}

.orcar-servico-hora li{
	color: #fff;
	text-align: left;
	//padding-right: 10px;
	margin-left: -20px;
	padding-top: 25px;
	font-size: 17px;
	font-weight: 600;
}

.green-button p{
	color: #ffffff;
	font-family: 'Raleway', sans-serif;
	font-size: 25px ;
	font-weight: 600;
	text-align: center;
	padding: 15px;
	background-color: #86d0cb;
	//width: 52%;
	margin: 0px 10px 20px;
}


.pink-button p{
	color: #ffffff;
	font-family: 'Raleway', sans-serif;
	font-size: 25px ;
	font-weight: 600;
	text-align: center;
	padding: 15px;
	background-color: #ffa4d0;
	//width: 52%;
	margin: 0px 10px 20px;
}

.orcamento-form{
	background-color: #6BC7C1;
}

.social-icons .div-icon{
	padding: 5px;
}

.goToTop {
	position: fixed;
	top: 0;
	z-index: 999999;
	box-shadow: 0 0 29px 0 rgba(0, 0, 0, .5);
	width: 100%;
}

#header nav .sub-menu li a{
	height: 50px;
	line-height: 24px;
	background-color: #fff !important;
	color: #6BC7C1 !important;
	text-align: left;
	font-size: 17px;
}

#header nav .sub-menu li a:hover{
	background-color: #86d0cb !important;
	color: #fff !important;
}

.texts-and-buttons{
	margin-top: 90px;
}

.menu-total{
    position: fixed;
    width: 100%;
    z-index: 10;
	overflow: hidden;
}

.menu-total.goToTop .top-menu {
	margin-top:0;
}

ul.sub-menu li {
	width: 100%;
}

ul.sub-menu {
	border: 2px solid #6BC7C1;
}

div.wpcf7-response-output{
    margin: 4em 0.5em 1em;
}

.site-content{
	margin-top: 200px;
}

/* UNIDADES */

.unidades-limpezaporhora-title h3{
	text-align: left;
}
.unidades-list a,
.unidades-list{
	color: #fff;
	padding: 0px;

}
.unidades-list li{
	margin-bottom: 10px;
}
.container-cat ul.unidades-list li:hover{
	margin-bottom: 6px;
}

@media(max-width: 990px){
	.content-1-limpeza-hora{
		background-repeat: no-repeat;
		-webkit-background-size: cover;
		background-size: cover;
	}
}
@media(max-width: 768px){
	.bottom-img{
		margin: auto;
		position: relative;
	}

	.unidades-limpezaporhora-title .unidades-list,
	.unidades-limpezaporhora-title h3{
		text-align: center;
	}
}


/* UNIDADES */

/*ORÇAMENTO*/
.sent-ok-limpezaporhora,
.sent-ok-limpezacomzelo{
	display: none;
	background: #6BC7C1;
	color: #fff;
	padding: 30px 15px 50px;
}
.sent-ok-limpezaporhora .title-top,
.sent-ok-limpezacomzelo .title-top{
	font-size: 32px;
	text-align: center;
	padding: 0 80px;

}


.sent-ok-limpezaporhora .title-top strong{
	color: #2363AF;
}
.sent-ok-limpezaporhora ul {
	display: inline;
}
.sent-ok-limpezaporhora ul li::before {
	content: "\f111";
	display: inline-block;
	font: normal normal normal 14px/1 FontAwesome;
	font-size: inherit;
	text-rendering: auto;
	-webkit-font-smoothing: antialiased;
	font-size: 8px;
	position: relative;
	width: 26px;
	height: 20px;
	top: -5px;
}
.sent-ok-limpezaporhora ul li {
	display: inline;
}
.sent-ok-limpezaporhora .button-orcar{
	background: #ffa4d0;
	color: #fff;
	border: 1px solid #fff;
	padding: 8px 15px;
	border-radius: 0;
	font-weight: 800;
	margin-top: 30px;
}

.sent-ok-limpezaporhora .title-top p,
.sent-ok-limpezacomzelo .title-top h3{
	font-size: 28px !important;
}
.sent-ok-limpezaporhora .title-top p{
	text-align: center;
	font-size: 20px !important;


}

.sent-ok-limpezaporhora .title-top .smile,
.sent-ok-limpezacomzelo .title-top .smile{
	font-size: 43px;
}

.sent-ok-limpezaporhora .content-body img,
.sent-ok-limpezacomzelo .content-body img{
	margin: 30px auto;
	position: relative;

}

.texts-and-buttons .title-home{
	margin: inherit !important;
	padding: 0 20%;
}

.orcar-servico-hora,
.orcar-servico-limpeza {
	padding:0 15px;
}
.orcar-servico-hora .pink-button,
.orcar-servico-limpeza .green-button{
	margin: auto;
}
	/*ORÇAMENTO*/

.texts-and-buttons .orcar-servico-hora li,
.texts-and-buttons .orcar-servico-limpeza li{
	text-shadow: 1px 1px 5px #252525;
}

#orcamento .c-enviar .btn{
	padding: 10px !important;
	font-size: 20px;
	margin: auto;
}

#orcamento .sub-text{
	color: #fff;
	padding: 0 45px;
	text-align: center;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
	font-size: 14px;
}
::-moz-placeholder { /* Firefox 19+ */
	font-size: 14px;
}
:-ms-input-placeholder { /* IE 10+ */
	font-size: 14px;
}
:-moz-placeholder { /* Firefox 18- */
	font-size: 14px;
}


@media(max-width:768px) {
	#logo {
		margin-left: 0px;
	}

	.menu-total {
		margin-bottom: -215px;
		position: relative;
	}

	.top-menu {
		position: relative;
	}

	.container-cat h4 {
		text-align: center !important;
		font-size: 1.5em;
	}

	.container-cat ul li a {
		text-align: center;

	}

	.new-title h2 {
		margin-top: 0px;
		font-size: 28px;
	}

	.sub-new-title p {
		font-size: 28px !important;
		width: 80%;
	}

	.green-button p {
		width: initial !important;
		font-size: 20px !important;
		margin: 28px 0px 20px !important;

	}

	.pink-button p {
		width: initial !important;
		font-size: 20px !important;
		margin: 20px 0 !important;
	}

	.site-content {
		margin-top: 200px;
	}

	/* HOME */
	.servicos-home .text{
		max-width: 90%;
	}
	.texts-and-buttons .orcar-servico-hora ul,
	.texts-and-buttons .orcar-servico-limpeza ul{
		padding: 0;

	}
	.texts-and-buttons .orcar-servico-hora{
		margin-bottom: 15px;
	}
	.texts-and-buttons .orcar-servico-hora li,
	.texts-and-buttons .orcar-servico-limpeza li{
		text-align: center;
	}
	.texts-and-buttons .orcar-servico-hora li span.circle,
	.texts-and-buttons .orcar-servico-limpeza li span.circle{
		display: none;
	}
	.content-1-quem-somos{
		background-size: cover;
	}
	.servicos-home .img{
		min-height: 560px;
	}
	.texts-and-buttons .title-home{

		padding: 0 0%;
	}

	.banner-home{
		background-position: center;
	}
	.servicos-home .text p{
		text-shadow: 1px 1px 5px #fff;
	}
	.servicos-home .pink-button p,
	.servicos-home .green-button p{
		text-shadow: none;
	}

	.form-newsletter input[type="email"],
	.form-newsletter input[type="submit"]{
		display: block;
		float: none;
		width:100%;
	}
	.form-newsletter input[type="email"]{
		margin-bottom: 0;
	}

	/*FOOTER*/
	.unidades_home ul{
		padding: 0;
	}
	.unidades_home ul li {
		margin-bottom: 30px;
	}
	/*FOOTER*/


	/*ORÇAMENTOS*/
	#orcamento .content-4 .sub-container-form{
		margin: auto;
	}

	/*ORÇAMENTOS*/

	/* UNIDADES */
	.bottom-img{
		margin: auto;
		display: block;
	}
}

@media(max-width:480px){
	/*HOME*/
	.servicos-home .last .text,
	.servicos-home .first .text{
		padding: 15px;
	}
	.texts-and-buttons .orcar-servico-hora,
	.texts-and-buttons .orcar-servico-limpeza{
		max-width: 100%;
		margin-left: 0;
	}

	/*HOME*/
}

@media(max-width: 390px){
	/*HOME*/

	.texts-and-buttons .orcar-servico-hora .pink-button p,
	.texts-and-buttons .orcar-servico-limpeza .green-button p{
		font-size: 4vw !important;
	}
	.texts-and-buttons .orcar-servico-hora ul,
	.texts-and-buttons .orcar-servico-limpeza ul{
		padding: 0;
	}
	/*HOME*/
}

@media(max-width: 340px){
	/*HOME*/

	.box-home {
		padding: 0;
	}
	.box-home .col-md-6{
		padding: 0;
	}
	.title-home h2 {
		padding: 0 15px 15px;
	}
	.texts-and-buttons .sub-new-title p{
		margin: auto;
	}
	.servicos-home .img{
		min-height: 750px;
	}
	.orcar-servico-hora li,
	.orcar-servico-limpeza li{
		margin-left: 0;
		font-size: 14px;
	}
	/*HOME*/
}

@media(max-width: 310px){
	/*HOME*/

	/*HOME*/
}